# Asaas API Configuration
ASAAS_API_KEY=$aP1_K3y_H3r3
ASAAS_BASE_URL=https://sandbox.asaas.com/api/v3

# Database Configuration (Local Postgres)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=asaas_db

# App Configuration
WEBHOOK_ACCESS_TOKEN=SuperSecretToken123
HTTP_PORT=8080
LOG_LEVEL=info
